.git
node_modules
vendor
storage/*.key
.env
.env.backup
.env.production
public/build
public/hot
public/storage
bootstrap/ssr
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.fleet
.nova
.zed
.DS_Store
